/* ================================================
					Nav Section
================================================ */
.navbar-default{
	background: rgb(62,48,101);
	border: none;
	border-bottom: 4px solid purple;
	transition: 0.5s;
}
.logo img{
	width: 60%;
}
@media screen and (max-width: 767px){
	.logo img{
		width: 20%;
	}
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    transition: .5s;
    border-bottom: 2px solid transparent;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #00e0d0;
    border-radius: 20px;
    border-color: #00e0d0;
    background: linear-gradient(45deg, purple 30%, transparent 70%);
}


/* ================================================
					Header Section
================================================ */
.headerSection {
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.headerSection .contentDiv{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
}
.headerSection .downArrow{
	font-size: 40px;
	cursor: pointer;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateY(-50%, -50%);
	animation: arrowDown 2s linear infinite;
}
@keyframes arrowDown{
	0%{top: 100%;}
	60%{top: 130%;}
	100%{top: 130%;}
}
@media screen and (max-width: 576px){
	.headerSection .downArrow{
		animation: none;
		top: 90%;
	}
}
#textColor {
	color: #ffffff;
}
#menuContent {
	color: #ffffff;
	font-size: 14px;
}
hr {
	background-color: #00e0d0;
	width: 10% ;
	height: 1px;
	margin: 20px auto;
}

/* ================================================
					Login Section
================================================ */
.loginSection{
	overflow: hidden;
}
.loginSection .loginDiv{
	width: 100%;
	height: 100px;
	line-height: 100px;
	padding: 0;
	margin: 0;
	background: #21424A;	
}
 .loginSection .loginDiv .login{
	background: #2FAC6C;
	position: relative;
	transform: skewX(-20deg);
}
.loginSection .loginDiv .login:before{
	content: '';
	background: #2FAC6C;
	position: absolute;
	top:0;
	left: -50px;
	width: 40%;
	height: 100%;
}
.loginSection .loginDiv .register{
	transform: skewX(-20deg);
}
.loginSection .loginDiv .login a, .loginSection .loginDiv .register a{
	transform: skewX(20deg);
	font-size: 30px;
	color:#fff;
	text-decoration: none;
	display: block;
	transition: 0.3s;
}
.loginSection .loginDiv a:hover{
	color: #000;
}
@media screen and (max-width: 576px){
	.loginSection .loginDiv .login a,
	.loginSection .loginDiv .register a{
		font-size: 20px;
	}
}

/* ================================================
				Our Story Section
================================================ */
#storySection {
	margin-top: 30px; 
	margin-bottom: 30px; 
	text-align: justify;
}
#customBtn {
	background-color: transparent;
	color: #05FA4F;
	border: 1px solid #00e0d0;
	margin-bottom: 30px;
	position: relative;
	height: 40px;
	line-height: 25px;
	width: 150px;
	overflow: hidden;
	z-index: 1;
}
#customBtn:before {
	content: '';
	position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #00e0d0;
	opacity: .2;
	transition: .5s;
}
#customBtn:hover:before {
	top: 40px;
	left: 150px;
}
#customBtn:hover {
	color: #00e0d0;
}
/* ================================================
				 Story video Section
================================================ */
#storyVideo{
	background: url('../../img/tajem_master/image10.jpg') no-repeat center top;
	margin-bottom: 50px;
}
.aligncenter{
	display: block;
	margin: 100px auto;
}

/* ================================================
				 Category Section
================================================ */
.experties{
	margin-bottom: 20px;
}
.category #customMargin {
	box-shadow: 1px 1px 0 #ebebeb;
	padding-top: 20px;
	padding-bottom: 20px;
}
.category #customMargin2 {
	box-shadow: 0 1px #ebebeb;
	padding-top: 20px;
	padding-bottom: 20px;
}
.category #customMargin3 {
	box-shadow: 1px 0 #ebebeb;
	padding-top: 20px;
	padding-bottom: 20px;
}
.category #customMargin4 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.category #customMargin img,
.category #customMargin2 img,
.category #customMargin3 img,
.category #customMargin4 img,
.category #customMargin h5,
.category #customMargin2 h5,
.category #customMargin3 h5 {
	margin-bottom: 20px;
}
.category #customMargin-h5 {
	margin-bottom: 20px;
}
.category p {
	color: #9a9a9a;
}
.category .expertiseItem img{
	transition: .5s;
}
.category .expertiseItem:hover img {
	transform: scale(1.5);
}
@media screen and (max-width: 992px){
	.expertiseItem{
		border-bottom: 1px solid red;
	}
	#img-mrgn a img {
		width: 50%;
	}
}

/* ================================================
				 Employee Section
================================================ */
.teamSection{
	background-size: cover;
	background-attachment: fixed;
	margin-top: 50px;
}
.teamSection #fifthContent {
	color: #ffffff;
	padding-top: 40px;
}
.teamSection #details {
	background-color: transparent;
	border: 1px solid #ffffff;
	padding: 5px;
	margin-bottom: 10px;
}
.teamSection #fifthSection-P {
	color: #ffffff;
	margin-bottom: 20px;
}
.teamSection #middle {
	margin:20px 0;
	color: #ffffff;
}
.teamSection .blockImage {
	background-color: #ffffff;
}
.teamSection .blockImage img{
	width: 100%;
}
@media screen and (max-width: 576px){
	.teamSection #details h5{
	    display: none;
	}
}

/* ================================================
				 Work Section
================================================ */
.workSection, .workSection img{
	margin-top: 80px;
	margin-bottom: 60px;
}

/* ================================================
				 Slider Section
================================================ */
.sliderSection {
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 120px;
	height: 450px;
	overflow: hidden;
}
.sliderSection .selection {
	margin-top: 60px;
}
.sliderSection #quotation {
	display: block;
	margin: 0 auto;
	padding-top: 50px;
}
.sliderSection #txtCol {
	color: #ffffff;
	margin-top: 30px;
}
.sliderSection #eco {
	padding-bottom: 50px;
}
.sliderSection #pagingImage {
	padding: 5px;
	margin-bottom: 10px;
}
@media screen and (max-width: 576px){
	.sliderSection #pagingImage{
	    display: none;
	}
}

/* ================================================
				 Logo Section
================================================ */
.logoSection #img-mrgn img {
	transition: 0.3s;
	margin: 30px auto;
	display: block;
}
.logoSection #img-mrgn img:hover {
	transform: scale(1.1);
}

/* ================================================
					Footer Section
================================================ */
.footerSection {
	background-size: cover;
	background-attachment: fixed;
	padding: 50px 0;
	margin-top: 50px;
}
.footerSection h4 {
	text-align: justify;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}
.footerSection p{
	text-align: justify;
	color: #ffffff;
	font-size: 15px;
}
.footerSection input{
	background: transparent;
	color: #fff;
	padding-left: 5px;
}
.footerSection .contactDiv{
	font-size: 15px;
}
.footerSection .contactDiv .fa{
	margin-right: 10px;
	color:#00e0d0;
}
.footerSection .contactDiv .location{
	display: flex;
}
.footerSection .contactDiv .location p{
	padding-left: 10px;
	margin-top: -3px;
}
.footerSection .inputGroup {
	display: inline-block;
	width: 300px;
}
.footerSection .inputGroup input {
	height: 35px;
	width: 70%;
	border-color: #a199b4;
}
.footerSection #arrow {
	width: 25%;
	padding: 4px 9px 9px;
	background-color: transparent;
	color: #fff;
	font-size: 20px;
	background: gray;
}
.footerSection #fontAwesome .fa {
	width: 30px;
	height: 30px;
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 150%;
	padding: 7px 8px;
	margin-top: 20px;
	margin-right: 10px;
	transition: .5s;
}
.footerSection #fontAwesome a:hover .fa{
	color: #00e0d0;
	border-color: #00e0d0;
	transform: scale(1.2);
}
.footerSection #footerLast {
	margin-top: 30px;
}
.footerSection #footerLast a {
	padding: 5px;
	text-decoration: none;
	color: #ffffff;
}
.footerSection #footerLast ul li {
	list-style: none;
	float: left;
}
.footerSection #footerLast ul li a:hover {
	list-style: none;
	color: #00e0d0;
}
.noMargin{
	margin: 0 !important;
}
